#closed
.link-wrapper
    a.modal-link(href='#modal') New Module
    #modal.modal-wrapper
      .modal-container
        form.modal-form()
          h2 New Module
          p
            | You are about to create a new module for your applcation.
            br
            strong Enter the following information for your new module
          .input-group
            p
              input(type='text', name='text', placeholder='File Path')
            p
              input(type='submit', value='Create', onclick='doStuff()')
        // modal Content is untill here
        a.modal-close(href='#closed') X
