doctype html
html
  head
    link(rel='stylesheet', href='style.css')
    title!=title
  body
    section#nav
    iframe#app(src='#{url}', frameborder='0', height='100%', width='100%')
    script(src='mithril.min.js')
    script(src='socket.io.js')
    script(src='scripts.js')
    script(src='src/editors/javascript-editor.js')
    #javascript-editor.editor
