doctype html
html
  head
    link(rel='stylesheet', href='style.css')
    title!=title
  body
    h1!=title
    section(style="background-color: #{color};")
      #app
    script!=shortcuts
    script(src='scripts.js')