html,
body {
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bar {
  background-color: #33C22C;
  width: 100%;
  /*padding: 10px 10px;*/
  top: 0;
  left: 0;
  right: 0;
}

#app {
  overflow: hidden;
  height: calc(100% - 100px);
  width: 100%;
  background:#44D33D;
}

.monobutton {
  float: left;
  position: relative;
  color: #333;
  background-color: #fff;
  border-color: #eee;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-touch-action: manupulation;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-appearance: button;
  overflow: visible;
  text-transform: none;
  margin: 0;
  align-items: flex-end;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}

.monobutton:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

.nav-row {
  height: 50px;
  min-height: 50px;
  width: 100%;
  display: inline-block;
}
