@import "../node_modules/bootstrap/scss/bootstrap.scss";
h1 {
    text-align: center;
}

section {
    height: 100vh;
}

.card {
	color: black;
	border: 0;
	margin: 0;
	padding: 0;
}

.card-contents {
	margin: 0.5rem;
	background-color: darken(white, 12%);
	border: 5px solid darken(white, 12%);
}

.full-width {
	width: 100%;
}